<script data-dojo-config="async: 1, tlmSiblingOfDojo: 0, isDebug: 1" src="~/Scripts/dojo/dojo.js"></script>
<script src="~/Scripts/app/run.js"></script>

<div data-dojo-type="app/WorkItemListWidget"></div>