<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
</head>
    <body>
        
        

        <script src="~/Scripts/rx.min.js"></script>
        <script src="~/Scripts/rx.time.min.js"></script>
        <script src="~/Scripts/dojo/dojo.js"></script>
        <script src="~/Scripts/app/run.js"></script>
    </body>
</html>


