@section scripts
{
    <script src="~/Scripts/rx.min.js"></script>
    <script src="~/Scripts/rx.time.min.js"></script>

    <script data-dojo-config="async: 1, tlmSiblingOfDojo: 0, isDebug: 1, baseUrl: '@Href("~/Scripts/")'" src="~/Scripts/dojo/dojo.js"></script>
    <script src="~/Scripts/app/run.js"></script>
}

<section data-dojo-type="app.DashboardWidget"></section>