@section scripts
{
    <script src="~/Scripts/rx.min.js"></script>
    <script src="~/Scripts/rx.time.min.js"></script>

    <script data-dojo-config="async: 1, tlmSiblingOfDojo: 0, isDebug: 1, baseUrl: '@Href("~/Scripts/")', appUrl: '@Href("~")'" src="~/Scripts/dojo/dojo.js"></script>
    <script src="~/Scripts/app/run.js"></script>
    
    @Styles.Render("~/Content/themes/app/css")
}

<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>
<section data-dojo-type="app.DashboardWidget"></section>