@import "variables.less";

.WorkItemList .searching input {
    background: @url-loading-animation  no-repeat right center;
}

.WorkItemList .selectable {
	width: 400px;
}

.WorkItemList .selectable.selected {
	background-color: gray;
}

.WorkItemList ul.action-list{
	float: right;
}

.WorkItemList ul.action-list li{
	display: inline;
}